@{
    ViewBag.Title = "SendMessagesToDrivers";
}

<h2>SendMessagesToDrivers</h2>

<input id="message" type="text" class="form-control" placeholder="message...">
<input id="message-btn" type="button" class="form-control" value="Send">

<script src="~/Scripts/AdminSendMessage.js"></script>