@{
	ViewBag.Title = "SendMessagesToDrivers";
}

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<textarea id="message" class="form-control"></textarea>
		<input id="message-btn" type="button" class="btn btn-success" value="@Resources.Resource.SendMessagesToDrivers" />
	</div>
	<div class="col-md-3"></div>
</div>
<script src="~/Scripts/AdminSendMessage.js"></script>