<div id="clientFeedbackModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" id="modalHeader">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">@Resources.Resource.AddFeedback</h4>
			</div>
			<div class="modal-body" id="modalBody">
				<div class="form-group">
					<label for="comment">@Resources.Resource.FeedbackComment:</label>
					<textarea class="form-control" rows="5" id="comment"></textarea>
				</div>
				<div id="rating">
					<span class="glyphicon glyphicon-star-empty"></span>
					<span class="glyphicon glyphicon-star-empty"></span>
					<span class="glyphicon glyphicon-star-empty"></span>
					<span class="glyphicon glyphicon-star-empty"></span>
					<span class="glyphicon glyphicon-star-empty"></span>
				</div>
			</div>
			<div class="modal-footer" id="modalFooter">
				<button id="feedbackConfirm" type="button" class="btn btn-success">@Resources.Resource.SaveFeedback</button>
				<button type="button" class="btn btn-success warning" data-dismiss="modal">@Resources.Resource.Close</button>
			</div>
		</div>
	</div>
</div>

