@model double
@{
    ViewBag.Title = "Client Bonuses";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6" id="BonusDiv">
		<label>[Your current bonus]</label>
		<div id="BonusField">
            <span id="BonusUAH">@Model</span>
			<span id="UAHIndicator">UAH</span>
		</div>
		<button type="submit" value="Register" class="btn btn-success">[SHOW HISTORY]</button>
	</div>
	<div class="col-md-3"></div>

</div>

