@{
    ViewBag.Title = "My Order Map";
	Layout = null;
}


<div id="mapContainer">
	<div class="panel panel-info">
		<div class="panel-heading row" style="padding: 0px;">
			<div class="col-md-3" id="arrowBtnL">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</div>
			<div class="col-md-6" id="addressLabel"><h3 class="panel-title" >@Resources.Resource.PlaceDelivery</h3></div>
			<div class="col-md-3" id="arrowBtnR">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</div>
		</div>
		<div class="panel-body">
			<div id="map">
			</div>
		</div>
	</div>
</div>
<script>
	var picturePath = '@Url.Content("~/Content/Picture/UserMapIcons/")';
	var imagePath ='@Url.Content("~/Content/Picture/DriverIcons")';
</script>
