@{
    ViewBag.Title = "Support";
}

<script>
	$(document).ready(function () {
		setInterval(function () {
			$.ajax({
				type: "POST",
				url: "/Support/GetChatUsers"
			}).done(function (users) {
				$('#chats tbody').html('');
				for (var i in users) {
					$('#chats tbody').append('<tr><td><img src="/Images/' + users[i].Photo + '" /></td><td>' + users[i].Name + '</td><td><a href="#" onclick="showChat(' + users[i].Id + ')">Show Chat</a></td></tr>');
				}
			});
		}, 2000);
	});

	var sinterval;
	function showChat(user) {
		clearInterval(sinterval);
		$.ajax({
			type: "POST",
			url: "/Support/GetSupporter",
			data: {
				id : user
			}
		}).done(function (users) {
			$('#chats tbody').html('');
			$('#chat .name').html(users.Name);
			$('#chat .avatar').attr('src', '/Images/' + users.Photo);
			$('#chat').data('supportId', users.Id);
			$('#chat .description').html('');
			$('#chat').show();
			$('#chat').draggable();
			DisplayMessages();
			sinterval = setInterval(DisplayMessages, 2000);
		});
	}
</script>

<table id="chats" class="table">
	<thead>
		<tr>
			<td>Image</td>
			<td>Name</td>
			<td></td>
		<tr>
	</thead>
	<tbody>

	</tbody>
</table>