@model Model.DTO.OrderExDTO

		<tr>
			<td class="col-md-7">
				@Html.DisplayFor(modelItem => modelItem.FullAddressFrom)
			</td>
			<td class="col-md-2">
				@Html.DisplayFor(modelItem => modelItem.Perquisite)
			</td>
			<td class="col-md-2">
				<div class="input-group">
					<input type="number" min="0" class="waiting-time form-control" placeholder="@Resources.Resource.WaitingTime">
				</div>
			</td>
			<td class="col-md-3">
					<span class="input-group-btn">
						<input itemid="modelItem.Id" type="button" value="@Resources.Resource.TakeOrder" class="take btn btn-success" />
					</span>
			</td>
		</tr>