@{
	ViewBag.Title = "Orders";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="orderBoard">
	<div class="col">
		<div class="header">
			[New orders]
		</div>
		<div id="newOrder" class="content">
		</div>
	</div>
	
	<div class="col">
		<div class="header">
			[Approved orders]
		</div>
		<div id="approvedOrder" class="content">
			
		</div>
	</div>

	<div class="col">
		<div class="header">
			[Denied orders]
		</div>
		<div id="deniedOrder" class="content">
		</div>
	</div>

	<div class="col">
		<div class="header">
			[In-progress orders]
		</div>
		<div id="inProgressOrder" class="content">
		</div>
	</div>

	<div class="col">
		<div class="header">
			[Done orders]
		</div>
		<div id="doneOrder" class="content">

		</div>
	</div>
</div>
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/Scripts/OrderExLogic/OperatorOrder.js"></script>
<link href="~/Content/OperatorOrder.css" rel="stylesheet" />
