
.modal-header-info {
	background-color: #5bc0de;
	border-color: #46b8da;
	color: white;
}

.modal-header-success {
	background-color: #5cb85c;
	border-color: #4cae4c;
	color: white;
}

.modal-header-warning {
	background-color: #f0ad4e;
	border-color: #eea236;
	color: white;
}

.modal-header-danger {
	background-color: #c9302c;
	border-color: #ac2925;
	color: white;
}

.modal-footer-info {
	background-color: #5bc0de;
	border-color: #46b8da;
	color: white;
	border-radius: 6px;
}

.modal-footer-success {
	background-color: #5cb85c;
	border-color: #4cae4c;
	color: white;
	border-radius: 6px;
}

.modal-footer-warning {
	background-color: #f0ad4e;
	border-color: #eea236;
	color: white;
	border-radius: 6px;
}

.modal-footer-danger {
	background-color: #c9302c;
	border-color: #ac2925;
	color: white;
	border-radius: 6px;
}

.td-ench {
	text-align: left;
	vertical-align: central;
	font-size: large;
}

#p-enchenced-central {
	text-align: center;
	vertical-align: central;
	font-size: x-large;
}

#p-enhanced {
	margin: 0px 0px 0px 0px;
}

#data-dismiss-btn-enhanced {
	color: white;
}

.modal-body-yellow {
	background-color: lightyellow;
}

#carTableResponsive {
	overflow-x: visible;
}

#carlink {
	font-weight: bold;
}


#map {
	width: 100%;
	height: 500px;
}

.labels {
	font-size: 20px;
	font-weight: bold;
}


.districtItem {
	display: inline-block;
	font-size: 20px;
	width: 100%;
	padding: 5px;
	background: linear-gradient(rgba(255, 215, 0, 0.8), rgba(255, 192, 48, 0.8));
	cursor: pointer;
	margin: 0px;
	border: 1px solid #FD8E00;
	color:black;
}

.districtItem a{
	color:inherit;
}

.folder {
	background: linear-gradient(gold, rgb(255, 192, 48));
}

#content ol {
	display: none;
}


#action-buttons {
	display: inline-block;
	float: right;
	clear: both;
}

#content {
	padding-left: 0px;
	overflow-y:auto;
	overflow-x:visible;
}

ol {
	list-style-type: none;
	padding-left: 20px;
}

.ui-state-highlight {
	background-color: rgba(241, 211, 35, 0.50);
	border: 2px dashed rgba(250, 194, 13, 0.61);
	height: 45px;
}

#searcDhistrictName{
	margin:0;
	height:35px;
	width:100%;
	border-radius:0;
}

.offPadding{
	padding:0;
}

#basket{
	border-right:solid 2px black;
}

#add-group{
	border-top-right-radius:3px;
}

#bthGroup {
	width: 100%;
	height: 100%;
	display: table;
}

	#bthGroup a {
		display: table;
		float: left;
		text-align: center;
		width: 50%;
		padding: 5px 3px;
		font-size: 19px;
		color: black;
		background: linear-gradient(gold, rgb(255, 192, 48));
		cursor:pointer;
	}
	#bthGroup a:hover{
		background: linear-gradient(rgb(204, 204, 204), #8C8C8C);
		color: white;
	}


#content::-webkit-scrollbar-track, .content::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}

#content::-webkit-scrollbar, .content::-webkit-scrollbar {
	width: 7px;
	height: 7px;
	background-color: rgba(0,0,0,0);
}

#content::-webkit-scrollbar-thumb, .content::-webkit-scrollbar-thumb {
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #FD8E00;
}