.tarifName{

font-size:large;
}

.tarifCheckBox {
   float:right;
   zoom:4.0;
}

.imgClock {

margin-left:-45px;
margin-top:54px;
}

.Drive {
    font-size:x-large;
    letter-spacing:30px;
    background-color:#BF926B;
    margin-top:20px;
    border-radius:25px;
    font-style:italic;
    margin-bottom:50px;
    
}
  .Dest {

    font-size:x-large;
    letter-spacing:10px;
    background-color:#BF926B;
    margin-top:20px;
    border-radius:25px;
    font-style:italic;
    margin-bottom:50px;
 
}
 
.timeTable{
    margin-top:27px;
    margin-left:-41px;
    color:#5A3E30;
}

#clValidReg{
    color:red;

}

  .hint {
    font-family: 'Open Sans Condensed', sans-serif; font-size: 48px; color: #333; margin-top:50px;
    }
   .ieDisable {
  margin-top:50px;
    }

#clientPrice  {
color:#421111;
font-size:xx-large;
margin:-47px; 
}
