#orders {
	margin-bottom: 0px;
}

#orders th, #orders td {
	text-align: center;
	vertical-align: middle;
}

.order .dateTime, #dateTime {
	padding-left: 20px;
}

#dateTime {
	width: 130px;
}

#feedback {
	width: 140px;
}

#price {
	width: 100px;
}

#carNumber {
	width: 150px;
}

#status {
	width: 120px;
}

#rating span {
 	font-size: 30px;
 	color: #FFED00;
 	margin: -2px;
 }

.order td {
	color: #333;
}

.cancel {
	width: 80px;
}