#orders {
	margin-bottom: 0px;
}

#orders th {
	font-size: 20px;
}

#orders th, #orders td {
	text-align: center;
	vertical-align: middle;
}

.table-title h2 {
	margin-bottom: 20px;
	margin-top: 0px;
}

.order .dateTime, #dateTime {
	padding-left: 20px;
}

#rating span {
 	font-size: 30px;
 	color: #FFED00;
 	margin: -2px;
 }

.order td {
	color: white;
	font-size: 16px;
	max-width: 400px;
}

.cancel {
	width: 80px;
}

.feedback button, .status button {
	font-size: 0.8vw;
}