#body {
	max-width: 715px;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.label-title {
	font-size: 110%;
	color: white;
	margin-left: 35px;
	margin-right: 35px;
	margin-top: 12px;
	margin-bottom: 6px;
}

.form-group-header {
	border-bottom: 1px solid #ffc030;
}

.label-underline {
	display: inline-block;
	border-bottom: 4px solid #ffc030;
}

.form-group-body {
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 25px;
}

.form-control-label {
	padding-left: 35px;
	padding-top: 5px;
	padding-right: 0px;
}

.label-italic {
	font-style: italic;
}

.align-right {
	float: right;
	margin-top: 10px;
	margin-right: 20px;
}

.label-italic, .radio-inline {
	cursor: pointer;
}

.checkbox-inline input {
	display: none;
}

.checkbox-inline span {
	width: 15px;
	height: 15px;
	display: inline-block;
	border: 2px solid #ffc030;
	border-radius: 3px;
	margin-right: 8px;
	margin-bottom: 1px;
	vertical-align: bottom;
}

.checkbox-inline input:checked + span {
	border-color: #f0f0f0;
	background-color: #ffc030;
}

#add-address {
	margin-top: 10px;
	font-size: 95%;
	border-bottom: 1px dashed #fff;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 35px;
	margin-bottom: 0px;
	cursor: pointer;
}

#show, #hide {
	width: 18px;
	height: 18px;
	display: inline-block;
	padding: 15px;
	margin-top: -3px;
	margin-right: -8px;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
}

#show {
	background-image: url(Picture/OrderForm/show.png);
}

#hide {
	background-image: url(Picture/OrderForm/hide.png);
}

.radio-box {
	margin-top: 3px;
	margin-bottom: 10px;
}

.radio-inline input {
	display: none;
}

.radio-inline span {
	width: 15px;
	height: 15px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 7px;
	margin-right: 8px;
	margin-bottom: 1px;
	vertical-align: bottom;
}

.radio-inline input:checked + span {
	border-width: 2px;
	background-color: #ffc030;
}

.button-inline input {
	display: none;
}

.button-inline span {
	width: 34px;
	height: 34px;
	display: inline-block;
	border-radius: 18px;
	margin-right: 5px;
	background-color: #eaeaea;
	cursor: pointer;
}

.button-inline input:checked + span {
	border: 1px solid #ffd101;
	background-color: #ffd101;
}

#normal + span {
	background-image: url(Picture/OrderForm/sedan-passive.png);
}

#universal + span {
	background-image: url(Picture/OrderForm/minivan-passive.png);
}

#minivan + span {
	background-image: url(Picture/OrderForm/van-passive.png);
}

#lux + span {
	background-image: url(Picture/OrderForm/star-passive.png);
}

#courier + span {
	background-image: url(Picture/OrderForm/passenger-passive.png);
}

#with-plate + span {
	background-image: url(Picture/OrderForm/box-passive.png);
}

#my-car + span {
	background-image: url(Picture/OrderForm/key-passive.png);
}

#pets + span {
	background-image: url(Picture/OrderForm/pet-passive.png);
}

#bag + span {
	background-image: url(Picture/OrderForm/bag-passive.png);
}

#conditioner + span {
	background-image: url(Picture/OrderForm/freeze-passive.png);
}

#english + span {
	background-image: url(Picture/OrderForm/flag-passive.png);
}

#nosmoking + span {
	background-image: url(Picture/OrderForm/nosmoking-passive.png);
}

#smoking + span {
	background-image: url(Picture/OrderForm/smoking-passive.png);
}

#check + span {
	background-image: url(Picture/OrderForm/file-passive.png);
}

#normal:checked + span {
	background-image: url(Picture/OrderForm/sedan-active.png);
}

#universal:checked + span {
	background-image: url(Picture/OrderForm/minivan-active.png);
}

#minivan:checked + span {
	background-image: url(Picture/OrderForm/van-active.png);
}

#lux:checked + span {
	background-image: url(Picture/OrderForm/star-active.png);
}

#courier:checked + span {
	background-image: url(Picture/OrderForm/passenger-active.png);
}

#with-plate:checked + span {
	background-image: url(Picture/OrderForm/box-active.png);
}

#my-car:checked + span {
	background-image: url(Picture/OrderForm/key-active.png);
}

#pets:checked + span {
	background-image: url(Picture/OrderForm/pet-active.png);
}

#bag:checked + span {
	background-image: url(Picture/OrderForm/bag-active.png);
}

#conditioner:checked + span {
	background-image: url(Picture/OrderForm/freeze-active.png);
}

#english:checked + span {
	background-image: url(Picture/OrderForm/flag-active.png);
}

#nosmoking:checked + span {
	background-image: url(Picture/OrderForm/nosmoking-active.png);
}

#smoking:checked + span {
	background-image: url(Picture/OrderForm/smoking-active.png);
}

#check:checked + span {
	background-image: url(Picture/OrderForm/file-active.png);
}

#cost-group {
	text-align: center;
	margin-top: 15px;
}

#cost-group label {
	vertical-align: top;
	margin-top: 9px;
}

#cost {
	width: auto;
	min-width: 100px;
	height: 38px;
	background-color: #eaeaea;
	margin-left: 10px;
	border-style: none;
	border-radius: 20px;
	display: inline-block;
	padding: 8px;
	font-size: 120%;
}

#calculate, #load {
	float: right;
	margin-top: -6px;
	cursor: pointer;
}

#add {
	width: 67px;
	margin-left: 10px;
	margin-right: 10px;
}

.without-header .row {
	margin-top: 12px;
}

#remember + span {
	margin-left: 30px;
	margin-top: 7px;
}

#submit-btn, #cancel-btn {
	text-align: center;
	margin-bottom: 15px;
}

#time-group {
	width: 150px;
	margin-left: 20px;
	margin-top: -4px;
	margin-bottom: -10px;
}

#time-group span {
	cursor: pointer;
}

#time {
	margin: 0px;
}

.label-italic {
	margin-top: 5px;
}

.icon-time:before {
	content: url(Picture/OrderForm/time.png);
}

#passengers {
	cursor: pointer;
	padding-left: 7px;
	margin-bottom: 15px;
}

.radio-box {
    margin-top: 6px;
    margin-bottom: 20px;
}

#additional label.radio-inline {
	padding-left: 0px;
	padding-right: 0px;
}

.required span {
	color: red;
	font-size: 120%;
}

.input-error {
	border-color: red;
}

label {
	font-weight: normal;
}

.form-control-label {
	padding-top: 8px;
}

.panel p {
	margin-bottom: 0px;
}

.btn-select-map {
	font-size: 0.7vw;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
}

#textField {
	font-size: 140%;
}

@media (max-width: 767px) {
	#form-control {
		margin-right: 10px;
	}

	#additional label.radio-inline {
		padding-left: 20px;
		padding-right: 0px;
	}

	#time-group {
		width: 150px;
		margin-top: 10px;
		margin-bottom: 5px;
	}

	#passengers {
		margin-left: 20px;
	}

	.button-box {
		margin-left: 20px;
	}

	#perquisite label, #perquisite input {
		display: inline-block;
	}

	#perquisite {
		padding-left: 0px;
		margin-bottom: 10px;
	}
}