<ul class="nav">
    <li class="list-group-item">@Html.ActionLink("UserAddress", "Index", "Address")</li>
    <li class="list-group-item">@Html.ActionLink("SetVIPStatus", "SetVIPStatus", "Settings")</li>
</ul>
@Html.Partial("_PartialMenuDriver")
@Html.Partial("_PartialMenuReportViewer")
