<ul class="nav">
    <li class="list-group-item">@Html.ActionLink("CarEditor", "CarEditor", "Settings")</li>
    <li class="list-group-item">@Html.ActionLink("[Personal]", "Index", "Driver")</li>
</ul>