<div style="width : 100%">
    <div class="img col-md-4 icontainer" style="background-image: url(/Content/Picture/tablet.png); width: 1096px; height: 740px; display: table; margin: 0 auto;">
        <iframe id="iframe" class="iframe" src="http://localhost:51171/" align="left" scrolling="yes" seamless="seamless" style="margin:78px 63px; width:970px; height: 586px">
            Ваш браузер не поддерживает плавающие фреймы!
        </iframe>
    </div>
</div>

