@model IEnumerable<Model.DTO.OrderDTO>
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script id="orderTemplate" type="text/x-handlebars-template">
    <table>
        <thead>
            <tr>
                <th>@Resources.Resource.Name</th>
                <th>@Resources.Resource.PeekPlace</th>
                <th>@Resources.Resource.DropPlace</th>
                <th>Order Time</th>
            </tr>
        </thead>
        <tbody>
            {{#each objects}}
            <tr>
                <td>{{FirsName}}</td>
                <td>{{PeekPlace}}</td>
                <td>{{DropPlace}}</td>
                <td>{{PrettifyDate OrderTime}}</td>
                <td><button class="btn success">[Submit]</button><button class="btn btn-danger">[Discars]</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>




<button class="btn" onclick="cl()">get!!</button>
<div id="orderContent"></div>

<script src="~/Scripts/HandlebarsCustomHelpers.js"></script>
<script type="text/javascript">
    function cl() {
        var content = $('#orderContent');
        $.ajax({
            type: 'POST',
            url: "/Order/OrdersData/",
            dataType: 'json',
            success: function (data) {
                var source = $("#orderTemplate").html();
                var template = Handlebars.compile(source);
                var wrapper = { objects: data };
                var html = template(wrapper);
                content.html(html);

            },
            error: function (error) {
                console.log(error + "error!!!!");
            }
        });
    }
</script>