@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<body>
    <h2>START POINT</h2>
    <div>
        @ViewBag.Hello
        @using( Html.BeginForm())
        {
       
        @Html.DropDownList("Language", new SelectList(
       new List<Object>{new { value ="uk-UA" , text = "Ukrain"  },new { value = "en-us" , text = "English" },}, "value","text",2))
                                                                    
            <input type="submit"   value="OK", name ="OK"/>
        }
    </div>
</body>
</html>
