@using Model.DTO
@using Common.Enum
<html>
<head>
    
</head>
<body>

    <div>   
       @if(ViewBag.UserRoleId == (int)AvailableRoles.Administrator) {
                @Html.Partial("_PartialMenuAdmin")
        }
        
    </div>
    

    <div id="map-container">
        <div id="map" style=" width: 600px;
        height: 400px;"></div>
    </div>

</body>
</html>