html { height: 100% }
body { height: 93%;
       padding-top:0px; 
       

}    
  

#map {
        width: 100%;
        height: 100%;
      }

#menuWrap {
margin-bottom:0px;

}

#autocomplete {
background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 50%;
    margin-top: 14px;
}

#autocomplete:focus {
  border-color: #4d90fe;
}


#OkBtn {
display:none;
}
#OrderTaxi {
margin-left: 5%;
margin-top: 12px;
}