@{
    ViewBag.Title = "DistrictReportsPerYear";
}

<div id="container" style="width: 1000px; height: 600px; margin: 0 auto"></div>

<script type="text/javascript" src="~/Scripts/CustomHighCharts/DistrictOrdersPerYear.js"></script>
<script>
	$(document).ready(function () {
		ChartController.getChartData();
	});
</script>
