@{
    ViewBag.Title = "GrafickOf10TopClients";
}

<center><h2>@Resources.Resource.OrderDiagrama</h2></center>
@Model
<style>
	#OrdersReport_container{
		width: 1000px; 
		height: 600px; 
		margin: 0 auto
	}
</style>