@model IEnumerable<Model.DTO.OrderDTO>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css" rel="stylesheet">
    table, th, td {
    
    border-collapse:collapse;
    border-bottom:ridge ;
}
    th, td {
    padding: 15px;
}
    th {
    font-size:x-large;
    }
    td {
    font-size:large;
    }
</style>

<center><h1>@Resources.Resource.ClientDriveHistory</h1></center>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th> age</th>
            <th>Last name</th>
        </tr>

    </thead>
    <tbody>
        @{
            foreach (var order in Model)
            {
                <tr>
                    <td>
                        @order.ComeIn
                    </td>
                    <td>
                        @order.ComeOut
                    </td>
                    <td>
                        @order.EndWork
                    </td>
                </tr>

        }
            }
    </tbody>

</table>