@using Model.DTO
@model PersonDTO
@{
    ViewBag.Title = "My Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/UserScript.js")
<div class="form-horizontal" style="margin-bottom: 15px">
    <div class="row">
		<div class="col-md-3"></div>
        <div class="col-md-6">
            <legend>@Resources.Resource.ContactInformation</legend>

            @if (ViewBag.Error != null)
            {
                <h4 style="color: red">@ViewBag.Error</h4>
            }

@Html.Partial("_EditPersonInfo",Model)
        </div>
    </div>
</div>

