@model IEnumerable<Model.DTO.TarifDTO>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <script type="text/javascript" src="~/Scripts/DriveTimer.js">

    </script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col col-md-4">
                <img src="~/Content/Picture/SandWatch.jpg" class="imgClock" />
                <p class="timeTable"></p>
            </div>
            <div class="col-lg-9 col-md-8">
                <center><h3>Select Tarif</h3></center>
                @{
                    if (Model != null)
                    {
                        foreach (var tarif in @Model)
                        {
                            @Html.Label(tarif.Name, new { @class = "tarifName" })

                            @Html.CheckBox(tarif.Name, new { @class = "tarifCheckBox", @value = tarif.id, @temp = tarif.StartPrice }) ;
                    <hr />
                        }
                    }
                }
                <input type="hidden" id="Id" value="@User.Id" />
                <button class="btn Drive" id="double">DRIVE<i class="fa fa-tachometer fa-lg"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col col-md-4">
               
            </div>
            <div class="col-lg-9 col-md-8">
                <div id="niceElement">
                    <center> <img src="~/Content/Picture/Speedometer.jpg" /> <p id="clientPrice" >@Model.Where(x => x.Name == "Standart").Select(x=>x.StartPrice).First()</p></center>
                </div>
            </div>
            </div>
        </div>

</body>
</html>