@{
    ViewBag.Title = "IEDisable";
    Layout = null;
}

<link href="~/Content/ClientDriveService.css" rel="stylesheet" />
<div class="ieDisable">
    <center>
        <h1 class="hint">Ops! Something went wrong</h1>
        <img src="~/Content/Picture/Drawing-layerExport.jpeg" />
        <h1 class="hint">Hint: It is time to update Your Browser!</h1>
    </center>
</div>